**Backorder Prediction**
# Data Overview

The dataset contains **23 columns**, including **22 features** and **1 target column**. Below is a summary of the features used for modeling and predicting the target.

## Feature Columns

| Feature Name          | Description                                              |
|-----------------------|----------------------------------------------------------|
| **sku**               | Random ID for the product                                 |
| **national_inv**      | Current inventory level for the part                     |
| **lead_time**         | Transit time for product (if available)                 |
| **in_transit_qty**    | Amount of product in transit from source                  |
| **forecast_3_month**  | Forecast sales for the next 3 months                     |
| **forecast_6_month**  | Forecast sales for the next 6 months                     |
| **forecast_9_month**  | Forecast sales for the next 9 months                     |
| **sales_1_month**     | Sales quantity for the prior 1 month time period          |
| **sales_3_month**     | Sales quantity for the prior 3 month time period          |
| **sales_6_month**     | Sales quantity for the prior 6 month time period          |
| **sales_9_month**     | Sales quantity for the prior 9 month time period          |
| **min_bank**          | Minimum recommended amount to stock                       |
| **potential_issue**    | Source issue for part identified                          |
| **pieces_past_due**   | Parts overdue from source                                  |
| **perf_6_month_avg**  | Source performance for prior 6 month period              |
| **perf_12_month_avg** | Source performance for prior 12 month period             |
| **local_bo_qty**      | Amount of stock orders overdue                             |
| **deck_risk**         | Part risk flag                                            |
| **oe_constraint**     | Part risk flag                                            |
| **ppap_risk**        | Part risk flag                                            |
| **stop_auto_buy**     | Part risk flag                                            |
| **rev_stop**          | Part risk flag                                            |

## Target Column

| Target Name          | Description                                           |
|----------------------|-------------------------------------------------------|
| **went_on_backorder** | Product actually went on backorder. This is the target value. |

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('Dataset\\Training_Dataset_v2.csv')
df.head()

C:\Users\jatain kumar\AppData\Local\Temp\ipykernel_19276\3141540628.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Dataset\\Training_Dataset_v2.csv')

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687861 entries, 0 to 1687860
Data columns (total 23 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   sku                1687861 non-null  object
 1   national_inv       1687860 non-null  float64
 2   lead_time          1586967 non-null  float64
 3   in_transit_qty     1687860 non-null  float64
 4   forecast_3_month   1687860 non-null  float64
 5   forecast_6_month   1687860 non-null  float64
 6   forecast_9_month   1687860 non-null  float64
 7   sales_1_month      1687860 non-null  float64
 8   sales_3_month      1687860 non-null  float64
 9   sales_6_month      1687860 non-null  float64
 10  sales_9_month      1687860 non-null  float64
 11  min_bank           1687860 non-null  float64
 12  potential_issue    1687860 non-null  object
 13  pieces_past_due    1687860 non-null  float64
 14  perf_6_month_avg   1687860 non-null  float64
 15  perf_12_month_avg  1687860 non-null  float64
 16  local_bo_qty       1687860 non-null  float64
 17  deck_risk          1687860 non-null  object
 18  oe_constraint      1687860 non-null  object
 19  ppap_risk          1687860 non-null  object
 20  stop_auto_buy      1687860 non-null  object
 21  rev_stop           1687860 non-null  object
 22  went_on_backorder  1687860 non-null  object
dtypes: float64(15), object(8)
memory usage: 296.2+ MB

In [4]:
df.describe()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty
count,1.687860e+06,1.586967e+06,1.687860e+06,1.687860e+06,1.687860e+06,1.687860e+06,1.687860e+06,1.687860e+06,1.687860e+06,1.687860e+06,1.687860e+06,1.687860e+06,1.687860e+06,1.687860e+06,1.687860e+06
mean,4.961118e+02,7.872267e+00,4.405202e+01,1.781193e+02,3.449867e+02,5.063644e+02,5.592607e+01,1.750259e+02,3.417288e+02,5.252697e+02,5.277230e+01,2.043724e+00,-6.872059e+00,-6.437947e+00,6.264507e-01
std,2.961523e+04,7.056024e+00,1.342742e+03,5.026553e+03,9.795152e+03,1.437892e+04,1.928196e+03,5.192378e+03,9.613167e+03,1.483861e+04,1.254983e+03,2.360165e+02,2.655636e+01,2.584333e+01,3.372224e+01
min,-2.725600e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.900000e+01,-9.900000e+01,0.000000e+00
25%,4.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.300000e-01,6.600000e-01,0.000000e+00
50%,1.500000e+01,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00,8.200000e-01,8.100000e-01,0.000000e+00
75%,8.000000e+01,9.000000e+00,0.000000e+00,4.000000e+00,1.200000e+01,2.000000e+01,4.000000e+00,1.500000e+01,3.100000e+01,4.700000e+01,3.000000e+00,0.000000e+00,9.700000e-01,9.500000e-01,0.000000e+00
max,1.233440e+07,5.200000e+01,4.894080e+05,1.427612e+06,2.461360e+06,3.777304e+06,7.417740e+05,1.105478e+06,2.146625e+06,3.205172e+06,3.133190e+05,1.464960e+05,1.000000e+00,1.000000e+00,1.253000e+04

In [5]:
df.isnull().sum()

sku                       0
national_inv              1
lead_time            100894
in_transit_qty            1
forecast_3_month          1
forecast_6_month          1
forecast_9_month          1
sales_1_month             1
sales_3_month             1
sales_6_month             1
sales_9_month             1
min_bank                  1
potential_issue           1
pieces_past_due           1
perf_6_month_avg          1
perf_12_month_avg         1
local_bo_qty              1
deck_risk                 1
oe_constraint             1
ppap_risk                 1
stop_auto_buy             1
rev_stop                  1
went_on_backorder         1
dtype: int64

In [6]:
null_values = [feature for feature in df.columns if df[feature].isnull().sum()]
null_values

['national_inv',
 'lead_time',
 'in_transit_qty',
 'forecast_3_month',
 'forecast_6_month',
 'forecast_9_month',
 'sales_1_month',
 'sales_3_month',
 'sales_6_month',
 'sales_9_month',
 'min_bank',
 'potential_issue',
 'pieces_past_due',
 'perf_6_month_avg',
 'perf_12_month_avg',
 'local_bo_qty',
 'deck_risk',
 'oe_constraint',
 'ppap_risk',
 'stop_auto_buy',
 'rev_stop',
 'went_on_backorder']

In [7]:
df['national_inv'] = df['national_inv'].fillna(df['national_inv'].mean())
df['lead_time'] = df['lead_time'].fillna(df['lead_time'].mean())
df['in_transit_qty'] = df['in_transit_qty'].fillna(df['in_transit_qty'].mean())
df['forecast_3_month'] = df['forecast_3_month'].fillna(df['forecast_3_month'].mean())
df['forecast_6_month'] = df['forecast_6_month'].fillna(df['forecast_6_month'].mean())
df['forecast_9_month'] = df['forecast_9_month'].fillna(df['forecast_9_month'].mean())
df['sales_1_month'] = df['sales_1_month'].fillna(df['sales_1_month'].mean())
df['sales_3_month'] = df['sales_3_month'].fillna(df['sales_3_month'].mean())
df['sales_6_month'] = df['sales_6_month'].fillna(df['sales_6_month'].mean())
df['sales_9_month'] = df['sales_9_month'].fillna(df['sales_9_month'].mean())
df['pieces_past_due'] = df['pieces_past_due'].fillna(df['pieces_past_due'].mean())
df['perf_6_month_avg'] = df['perf_6_month_avg'].fillna(df['perf_6_month_avg'].mean())
df['perf_12_month_avg'] = df['perf_12_month_avg'].fillna(df['perf_12_month_avg'].mean())
df['local_bo_qty'] = df['local_bo_qty'].fillna(df['local_bo_qty'].mean())
df['min_bank'] = df['min_bank'].fillna(df['min_bank'].mean())

In [8]:
categorical_col = [feature for feature in df.columns if df[feature].dtypes == 'O']
categorical_col

['sku',
 'potential_issue',
 'deck_risk',
 'oe_constraint',
 'ppap_risk',
 'stop_auto_buy',
 'rev_stop',
 'went_on_backorder']

In [9]:
df.potential_issue.unique()

array(['No', 'Yes', nan], dtype=object)

In [10]:
df.potential_issue.value_counts()

potential_issue
No     1686953
Yes        907
Name: count, dtype: int64

In [11]:
df['potential_issue'] = df.potential_issue.fillna('No')

In [12]:
df.potential_issue.value_counts()

potential_issue
No     1686954
Yes        907
Name: count, dtype: int64

In [13]:
df['deck_risk'] = df.deck_risk.fillna('No')

In [14]:
df.oe_constraint.value_counts()

oe_constraint
No     1687615
Yes        245
Name: count, dtype: int64

In [15]:
df['oe_constraint'] = df.oe_constraint.fillna('No')

In [16]:
df.ppap_risk.value_counts()

ppap_risk
No     1484026
Yes     203834
Name: count, dtype: int64

In [17]:
df['ppap_risk'] = df.ppap_risk.fillna('No')

In [18]:
df.stop_auto_buy.value_counts()

stop_auto_buy
Yes    1626774
No       61086
Name: count, dtype: int64

In [19]:
df['stop_auto_buy'] = df.stop_auto_buy.fillna('No')

In [20]:
df.rev_stop.value_counts()

rev_stop
No     1687129
Yes        731
Name: count, dtype: int64

In [21]:
df['rev_stop'] = df.rev_stop.fillna('No')

In [22]:
df.went_on_backorder.value_counts()

went_on_backorder
No     1676567
Yes      11293
Name: count, dtype: int64

In [23]:
df['went_on_backorder'] = df.went_on_backorder.fillna('No')

In [24]:
df.isnull().any()

sku                  False
national_inv         False
lead_time            False
in_transit_qty       False
forecast_3_month     False
forecast_6_month     False
forecast_9_month     False
sales_1_month        False
sales_3_month        False
sales_6_month        False
sales_9_month        False
min_bank             False
potential_issue      False
pieces_past_due      False
perf_6_month_avg     False
perf_12_month_avg    False
local_bo_qty         False
deck_risk            False
oe_constraint        False
ppap_risk            False
stop_auto_buy        False
rev_stop             False
went_on_backorder    False
dtype: bool

In [25]:
categorical_col

['sku',
 'potential_issue',
 'deck_risk',
 'oe_constraint',
 'ppap_risk',
 'stop_auto_buy',
 'rev_stop',
 'went_on_backorder']

In [26]:
df.potential_issue.value_counts()

potential_issue
No     1686954
Yes        907
Name: count, dtype: int64

In [27]:
df['potential_issue'] = df['potential_issue'].map({'No' : 0, 'Yes' : 1}).astype('int')
df['deck_risk'] = df['deck_risk'].map({'No' : 0, 'Yes' : 1}).astype('int')
df['oe_constraint'] = df['oe_constraint'].map({'No' : 0, 'Yes' : 1}).astype('int')
df['ppap_risk'] = df['ppap_risk'].map({'No' : 0, 'Yes' : 1}).astype('int')
df['stop_auto_buy'] = df['stop_auto_buy'].map({'No' : 0, 'Yes' : 1}).astype('int')
df['went_on_backorder'] = df['went_on_backorder'].map({'No' : 0, 'Yes' : 1}).astype('int')
df['rev_stop'] = df['rev_stop'].map({'No' : 0, 'Yes' : 1}).astype('int')

In [28]:
df.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,7.872267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,0,0,0,1,0,0
1,1043384,2.0,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,0,0,0,1,0,0
2,1043696,2.0,7.872267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,1,0,0,1,0,0
3,1043852,7.0,8.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,0,0,0,1,0,0
4,1044048,8.0,7.872267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,1,0,0,1,0,0

In [43]:
df.to_csv('Dataset\\Dataset_cleaned.csv', index = False)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687861 entries, 0 to 1687860
Data columns (total 23 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   sku                1687861 non-null  object
 1   national_inv       1687861 non-null  float64
 2   lead_time          1687861 non-null  float64
 3   in_transit_qty     1687861 non-null  float64
 4   forecast_3_month   1687861 non-null  float64
 5   forecast_6_month   1687861 non-null  float64
 6   forecast_9_month   1687861 non-null  float64
 7   sales_1_month      1687861 non-null  float64
 8   sales_3_month      1687861 non-null  float64
 9   sales_6_month      1687861 non-null  float64
 10  sales_9_month      1687861 non-null  float64
 11  min_bank           1687861 non-null  float64
 12  potential_issue    1687861 non-null  int32
 13  pieces_past_due    1687861 non-null  float64
 14  perf_6_month_avg   1687861 non-null  float64
 15  perf_12_month_avg  1687861 non-null  float64
 16  local_bo_qty       1687861 non-null  float64
 17  deck_risk          1687861 non-null  int32
 18  oe_constraint      1687861 non-null  int32
 19  ppap_risk          1687861 non-null  int32
 20  stop_auto_buy      1687861 non-null  int32
 21  rev_stop           1687861 non-null  int32
 22  went_on_backorder  1687861 non-null  int32
dtypes: float64(15), int32(7), object(1)
memory usage: 251.1+ MB

In [30]:
df = df.drop(['sku'], axis=1)

In [31]:
x = df.drop(['went_on_backorder'], axis=1).values
y = df['went_on_backorder'].values

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [33]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=12, sampling_strategy=1.0)
x_train_res, y_train_res = sm.fit_resample(x_train, y_train)
x_train_res.shape, y_train_res.shape

c:\Python311\Lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] The system cannot find the file specified
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "c:\Python311\Lib\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "c:\Python311\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Python311\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "c:\Python311\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

((2246690, 21), (2246690,))

In [34]:
x_train.shape, y_train.shape

((1130866, 21), (1130866,))

In [35]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import numpy as np
from torch.autograd import Variable

In [36]:
x_train_res = torch.FloatTensor(x_train_res)
x_test = torch.FloatTensor(x_test)
y_train_res = torch.LongTensor(y_train_res) ## LongTensor dosent converts it into floating point 
y_test = torch.LongTensor(y_test)

In [37]:
class Net(nn.Module):
    def __init__(self, in_count, output_count):
        super(Net, self).__init__()
        self.fc1 = nn.Linear(in_count, 50)
        self.fc2 = nn.Linear(50, 25)
        self.fc3 = nn.Linear(25, output_count)
        self.softmax = nn.Softmax()
        
        
    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = self.fc2(x)
        x = self.fc3(x)
        return self.softmax(x)

In [42]:
x.shape[1]

21

In [38]:
model = Net(x.shape[1], 2)

In [39]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)
final_losses = []
for epochs in range(50):
    optimizer.zero_grad()
    out = model(x_train_res)
    loss = criterion(out, y_train_res)
    final_losses.append(loss)
    loss.backward()
    optimizer.step()
    print(f"Epoch {epochs+1}, loss: {loss.item()}")

c:\Python311\Lib\site-packages\torch\nn\modules\module.py:1532: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  return self._call_impl(*args, **kwargs)

Epoch 1, loss: 0.43210285902023315
Epoch 2, loss: 0.34589505195617676
Epoch 3, loss: 0.32821565866470337
Epoch 4, loss: 0.322830468416214
Epoch 5, loss: 0.3210517466068268
Epoch 6, loss: 0.3204079270362854
Epoch 7, loss: 0.3201506435871124
Epoch 8, loss: 0.3200375735759735
Epoch 9, loss: 0.31998351216316223
Epoch 10, loss: 0.3199556767940521
Epoch 11, loss: 0.31994038820266724
Epoch 12, loss: 0.3199315369129181
Epoch 13, loss: 0.3199262022972107
Epoch 14, loss: 0.31992271542549133
Epoch 15, loss: 0.3199203908443451
Epoch 16, loss: 0.31991878151893616
Epoch 17, loss: 0.3199176788330078
Epoch 18, loss: 0.31991687417030334
Epoch 19, loss: 0.3199162185192108
Epoch 20, loss: 0.319915771484375
Epoch 21, loss: 0.31991538405418396
Epoch 22, loss: 0.3199150562286377
Epoch 23, loss: 0.319914847612381
Epoch 24, loss: 0.31991466879844666
Epoch 25, loss: 0.31991443037986755
Epoch 26, loss: 0.3199143409729004
Epoch 27, loss: 0.31991422176361084
Epoch 28, loss: 0.3199140727519989
Epoch 29, loss: 0.3199140131473541
Epoch 30, loss: 0.31991392374038696
Epoch 31, loss: 0.3199138939380646
Epoch 32, loss: 0.3199138343334198
Epoch 33, loss: 0.31991374492645264
Epoch 34, loss: 0.31991371512413025
Epoch 35, loss: 0.31991371512413025
Epoch 36, loss: 0.31991368532180786
Epoch 37, loss: 0.3199135959148407
Epoch 38, loss: 0.3199135959148407
Epoch 39, loss: 0.3199135661125183
Epoch 40, loss: 0.3199135363101959
Epoch 41, loss: 0.31991350650787354
Epoch 42, loss: 0.31991350650787354
Epoch 43, loss: 0.31991350650787354
Epoch 44, loss: 0.31991344690322876
Epoch 45, loss: 0.31991344690322876
Epoch 46, loss: 0.319913387298584
Epoch 47, loss: 0.319913387298584
Epoch 48, loss: 0.319913387298584
Epoch 49, loss: 0.319913387298584
Epoch 50, loss: 0.319913387298584

In [40]:
from sklearn.metrics import accuracy_score

pred = model(x_test)
_, predict_classes = torch.max(pred,1)

correct = accuracy_score(y_test, predict_classes)
print(f"Accurcay :   {correct}")

Accurcay :   0.9932279463909012

In [41]:
# Save the model
torch.save(model.state_dict(), 'model.pth')